{% extends 'YouFoodAdminBundle::layout.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Nouvel Utilisateur
        <small>Ajouter un nouvel Utilisateur à youfood.</small>
    </h1>
</div>

<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-actions">
        <button class="btn btn-large btn-success" type="submit">Créer</button>
        <a class="btn btn-large" href="{{ path('user') }}">Retour à la liste des utilisateurs</a>
    </p>
</form>

{% endblock %}
