{% extends 'YouFoodAdminBundle::layout.html.twig' %}

{% block title %}Nouveau Plat{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Nouveau Plat
        <small>Créer un plat pour vos clients.</small>
    </h1>
</div>

<form action="{{ path('food_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-actions">
        <button class="btn btn-large btn-primary" type="submit">Créer</button>
        <a class="btn btn-large" href="{{ path('food') }}">Retour à la liste des plats</a>
    </p>
</form>

{% endblock %}