{% extends 'YouFoodCookBundle::layout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
    <div class="hero-unit">
      <h1>Bienvenue</h1>
      <p>sur l'interface d'administration Cuisine de YouFood</p>
    </div>
{% endblock %}